.carousel {
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    height: 415px;
    background-color: $light-grey;
    position: relative;

    @include screen-md {
        height: 255px;
    }

    & img.picture {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    & .next, .previous {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        @include screen-sm {
            height: 20px;
        }
    }

    & .next {
        right: 15px;
    }

    & .previous {
        left: 15px;
    }

    & .picture__count {
        position: absolute;
        color: white;
        left: 50%;
        top: 90%;
        transform: translateX(-50%);
    }
}