.collapse {

    font-size: 24px;
    width: 100%;

    &__header {

        cursor: pointer;
        border-radius: 5px;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        color: white;

        & img {

            @include screen-sm {
                width: 15px;
            }
        }

        @include screen-sm {
            font-size: 13px;
        }
    }

    &__content {
        border-radius: 5px;
        padding: 25px 15px;
        margin-top: 2px;
        background-color: $light-grey;
        color: $primary-color;
        animation-name: show;
        animation-duration: 0.4s;

        @include screen-sm {
            font-size: 12px;
        }
    }
}

.chevron {
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

.chevron.opened {
    transform: rotate(180deg);
}

.chevron.closed {
    transform: rotate(0deg);
}