.accomodation__page__main {
    width: 90%;
    max-width: 1300px;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}