.cards__container {
    width: 90%;
    max-width: 1300px;
    margin: 25px auto;
    padding: 25px;
    background-color: $light-grey;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    margin-bottom: 100px;
}