.footer {
    width: 100%;
    padding: 50px 20px;
    margin-top: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &__text {
        color: white;
        font-size: 24px;

        @include screen-sm {
            font-size: 12px;
        }
    }
}