.header {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include screen-sm {
        padding: 20px;
    }

    &__logo {
        width: 200px;

        @include screen-sm {
            width: 100px;
        }
    }

    &__nav {
        margin-left: auto;

        &__link {
            padding: 5px;
            margin-left: 20px;
            text-decoration: none;
            color: $primary-color;
            font-size: 24px;
            font-weight: 500;

            @include screen-sm {
                font-size: 12px;
                margin-left: 10px;
            }
        }
    }
}